<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>無限鼓音坊｜爵士鼓教學</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta property="og:description" content="" />
    <meta itemprop="image" content="img/meta.jpg" />
    <meta property="og:image" content="img/meta.jpg" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="無限鼓音坊｜爵士鼓教學" />
    <meta property="og:site_name" content="無限鼓音坊｜爵士鼓教學" />
    <link rel="icon" type="image/png" href="img/favicon.png" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="css/all.css" />
</head>

<body>
    <div id="app">
        <div class="cursor"></div>
        <div class="shape"></div>
        <div class="bg"></div>
        <!-- navbar -->
        <nav class="navbar navbar-expand-md">
            <div class="container-lg">
                <a class="navbar-brand" href="index.html"><img src="img/logo.svg" alt=""></a>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <div class="navbar-nav">
                        <a class="nav-link" href="#">home</a>
                        <a class="nav-link" href="#">SERVICE</a>
                        <a class="nav-link" href="#">Drum Scores</a>
                        <a class="nav-link" href="#">Contact</a>
                    </div>
                </div>
                <div class="icon_menu collapsed" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                    <span></span>
                </div>
            </div>
        </nav>
        <!-- 譜 -->
        <section class="section_sheet">
            <div class="container">
                <!-- 搜尋 -->
                <div class="row mb-3 mb-sm-5 gx-2">
                    <div class="col-lg-3 col-md-5 col-8">
                        <label for="keyword" class="form-label">關鍵字</label>
                        <input type="text" v-model="keyword" class="form-control" placeholder="搜尋歌名或歌手">
                    </div>
                    <!-- <div class="col-lg-2 col-md-5 col-8">
                        <label for="" class="form-label">樂器種類</label>
                        <select class="form-select">
                            <option selected>請選擇</option>
                        </select>
                    </div> -->
                    <div class="col-lg-1 col-md-2 col-3 mt-auto">
                        <a href="#" class="btn btn-dark w-100" @click.prevent="filteredItems">搜尋</a>
                    </div>
                    <div class="col-1 mt-auto pl-5">
                        <a @click.prevent="showList = allList; keyword = ''" class="reset pb-1 d-block">
                            <img src="img/undo.svg" alt="" height="24">
                        </a>
                    </div>
                </div>
                <!-- 列表 -->
                <div class="">
                    <table class="table table-hover table_sheet table-sm">
                        <thead>
                            <th class="table_name">曲名/演出者</th>
                            <th>樂器</th>
                            <th class="table_hide_lg">風格</th>
                            <th class="table_hide_lg">拍速</th>
                            <th class="table_hide_lg">拍號</th>
                            <th>難度</th>
                            <th>價格</th>
                            <th></th>
                        </thead>
                        <tbody>
                            <tr v-for="(item, index) in showList" :key="index">
                                <td class="table_name"><span class="song">{{item[2]}}</span><span class="author">{{item[0]}} <small
                                            v-if="item[1]">feat.{{item[1]}}</small></span></td>
                                <td class="en">{{item[4]}}</td>
                                <td class="en table_hide_lg">{{item[7]}}</td>
                                <td class="en table_hide_lg">{{item[8]}}</td>
                                <td class="en table_hide_lg">{{item[9]}}</td>
                                <td>{{item[12]}}</td>
                                <td class="en">NT${{item[13]}}</td>
                                <!-- <td><a href="#" class="btn btn-sm btn-dark en"
                                        @click.prevent="showModal(index)">VIEW</a>
                                </td> -->
                                <td>
                                    <a href="#" class="btn_more" @click.prevent="showModal(index)"></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>

        <!-- Modal -->
        <div class="modal fade modal_sheet" id="modalSheet" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                    <!-- <div class="modal-header">
                        <h5 class="modal-title">
                            <span class="song">{{showItemArr[2]}}</span>
                            <span class="author">{{showItemArr[0]}} <span
                                    v-if="showItemArr[1]">feat.{{showItemArr[1]}}</span></span>
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div> -->
                    <div class="modal-body">
                        <div class="modal_row">
                            <a href="#" class="btn_close" data-bs-dismiss="modal" aria-label="Close"><img
                                    src="img/close.svg" alt=""></a>
                            <div class="yt_frame">
                                <div class="mb-sm-5 mb-3">
                                    <span class="song">{{showItemArr[2]}}</span>
                                    <span class="author">{{showItemArr[0]}} <span
                                            v-if="showItemArr[1]">feat.{{showItemArr[1]}}</span></span>
                                </div>
                                <div id="ytContent" class="mb-2"></div>
                                <p class="mb-lg-5 mb-0">{{showItemArr[10]}}</p>
                                <div class="price"><span>完整曲譜</span> NT${{showItemArr[13]}}</div>
                            </div>
                            <div class="detail">
                                <div class="more_list">
                                    <div class="item">
                                        <h5>樂器</h5>
                                        <p>{{showItemArr[4]}}</p>
                                    </div>
                                    <div class="item">
                                        <h5>採譜</h5>
                                        <p>{{showItemArr[3]}}</p>
                                    </div>
                                    <div class="item">
                                        <h5>拍號</h5>
                                        <p>{{showItemArr[9]}}</p>
                                    </div>
                                    <div class="item">
                                        <h5>拍速</h5>
                                        <p>{{showItemArr[8]}}</p>
                                    </div>
                                    <!-- <div class="item">
                                        <h5>語言</h5>
                                        <p>{{showItemArr[5]}}</p>
                                    </div>
                                    <div class="item">
                                        <h5>性別</h5>
                                        <p>{{showItemArr[6]}}</p>
                                    </div> -->
                                    <div class="item">
                                        <h5>難度</h5>
                                        <p>{{showItemArr[12]}}</p>
                                    </div>
                                    <div class="item w-100" v-if="showItemArr[7]">
                                        <h5 class="mb-1">風格</h5>
                                        <p class="skill_list"><span v-for="(item, index) in typeArr"
                                                :key="index">{{item}}</span></p>
                                    </div>
                                    <div class="item w-100" v-if="showItemArr[11]">
                                        <h5 class="mb-1">技巧</h5>
                                        <p class="skill_list"><span v-for="(item, index) in skillArr"
                                                :key="index">{{item}}</span></p>
                                    </div>
                                    <hr class="w-100">
                                    <div class="item w-100" v-if="showItemArr[14]">
                                        <h5 class="w-100 mb-1">小博老師簡評</h5>
                                        <p>{{showItemArr[14]}}</p>
                                    </div>
                                </div>
                                <a href="#" class="btn_icon d-none d-lg-flex">
                                    <span class="txt">IG私訊購買</span>
                                    <span class="icon"><img src="img/send.svg" alt=""></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer d-flex d-lg-none">
                        <div class="price">完整曲譜 <span>NT${{showItemArr[13]}}</span></div>
                        <a href="https://www.instagram.com/infinitydrumstudio/" class="btn_buy" target="_blank">IG
                            私訊購買 <img src="img/send.svg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <!-- <div class="modal fade modal_sheet" id="modalSheet" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            <span class="song">{{showItemArr[2]}}</span>
                            <span class="author">{{showItemArr[0]}} <span
                                    v-if="showItemArr[1]">feat.{{showItemArr[1]}}</span></span>
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="ps" v-if="showItemArr[10]">{{showItemArr[10]}}</div>
                        <div class="modal_row">
                            <div class="yt_frame" id="ytContent"></div>
                            <div class="detail">
                                <div class="more_list">
                                    <div class="item">
                                        <h5>樂器</h5>
                                        <p>{{showItemArr[4]}}</p>
                                    </div>
                                    <div class="item">
                                        <h5>採譜</h5>
                                        <p>{{showItemArr[3]}}</p>
                                    </div>
                                    <div class="item">
                                        <h5>拍號</h5>
                                        <p>{{showItemArr[9]}}</p>
                                    </div>
                                    <div class="item">
                                        <h5>拍速</h5>
                                        <p>{{showItemArr[8]}}</p>
                                    </div>
                                    <div class="item">
                                        <h5>語言</h5>
                                        <p>{{showItemArr[5]}}</p>
                                    </div>
                                    <div class="item">
                                        <h5>性別</h5>
                                        <p>{{showItemArr[6]}}</p>
                                    </div>
                                    <div class="item w-100">
                                        <h5>難度</h5>
                                        <p>{{showItemArr[12]}}</p>
                                    </div>
                                    <div class="item w-100" v-if="showItemArr[11]">
                                        <h5>技巧</h5>
                                        <p class="skill_list"><span v-for="(item, index) in skillArr"
                                                :key="index">{{item}}</span></p>
                                    </div>
                                    <div class="item w-100" v-if="showItemArr[7]">
                                        <h5>風格</h5>
                                        <p class="skill_list"><span v-for="(item, index) in typeArr"
                                                :key="index">{{item}}</span></p>
                                    </div>
                                    <div class="item w-100" v-if="showItemArr[10]">
                                        <h5>備註</h5>
                                        <p>{{showItemArr[10]}}</p>
                                    </div>
                                    <div class="item w-100">
                                        <h5>簡評</h5>
                                        <p>{{showItemArr[14]}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="price">完整曲譜 <span>NT${{showItemArr[13]}}</span></div>
                        <a href="https://www.instagram.com/infinitydrumstudio/" class="btn_buy" target="_blank">IG 私訊購買</a>
                    </div>
                </div>
            </div>
        </div> -->


    </div>

    <script src="js/vue.global.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="./js/jquery-3.7.1.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/gsap-latest-beta.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <script type="module">
        // import navbar from './js/page/navbar.js';
        const app = Vue.createApp({
            data() {
                return {
                    allList: [],
                    showList: [],
                    showItemArr: [],
                    skillArr: [],
                    typeArr: [],
                    keyword: '',
                };
            },
            components: {
                // navbar,
            },
            methods: {
                showModal(i) {
                    let vm = this;
                    vm.showItemArr = this.allList[i];
                    vm.skillArr = vm.showItemArr[11].split(',');
                    vm.typeArr = vm.showItemArr[7].split(',');

                    const url = vm.showItemArr[15];
                    const match = url.match(/(?:youtube\.com\/.*v=|youtu\.be\/)([a-zA-Z0-9_-]{11})/);
                    if (match && match[1]) {
                        const videoId = match[1];
                        $('#ytContent').html(`
                            <iframe 
                                width="100%" 
                                src="https://www.youtube.com/embed/${videoId}" 
                                frameborder="0" 
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                                allowfullscreen>
                            </iframe>
                            `);
                    }
                    $('#modalSheet').modal('show');
                },
                filteredItems() {
                    let vm = this;
                    const kw = this.keyword.trim().toLowerCase();
                    let newList = vm.allList;
                    vm.showList = newList.filter(item => {
                        return item[0].toLowerCase().includes(kw) || item[1].toLowerCase().includes(kw) || item[2].toLowerCase().includes(kw);
                    });
                }
            },
            computed: {
            },
            created() {
                const apiKey = "AIzaSyAUqwXGpWVi1B88pTQGQB_nxUK1NgT1Vvw";
                const sheetId = "1EQ5rAnn1bGIF7R5Bnsa8b6-aZ1iUQMLaXtdxEO8uQMs";
                let range = "sheet!A2:P";
                let url = `https://sheets.googleapis.com/v4/spreadsheets/${sheetId}/values/${range}?key=${apiKey}`;
                fetch(url)
                    .then((response) => response.json())
                    .then((data) => {
                        let vm = this;
                        console.log(data.values)
                        vm.allList = data.values;
                        vm.showList = data.values;
                    })
                    .catch((error) => console.error("Error:", error));

            }
        });
        app.mount('#app');
    </script>

    <script>
        $(document).ready(function () {
            document.body.addEventListener("mousemove", evt => {
                const mouseX = evt.clientX;
                const mouseY = evt.clientY;

                gsap.set(".cursor", {
                    x: mouseX,
                    y: mouseY
                });


                gsap.to(".shape", {
                    x: mouseX,
                    y: mouseY,
                    stagger: -0.1
                });

            });
        });
    </script>

</body>

</html>